@font-face{
    font-family: SFProDisplay;
    src: url('../fonts/FontsFree-Net-SFProDisplay-Regular (1).ttf');
}

@font-face{
    font-family: GlacialIndifference;
    src: url('../fonts/GlacialIndifference-Regular.otf');
}

 /*
@font-face{
    font-family: GlacialIndifference;
    src: url('../fonts/GlacialIndifference-Regular.otf');
*/

html, body {
    width: 100%; 
    height: 100%;
    margin: 0; 
}

.navbar {
    text-align: right; 
    height: 80px; 
    /* line-height: 80px;  */
    position: relative; 
    /*stacking context ensures that this navbar (including the menu) is above any elements*/
    z-index: 10; 
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);

    /*change*/
    border: white solid; 
}

.menu {
    position: relative; 
    background: white; 
    /* border: blue solid;   */
    /* background: lightblue;  */
}

.menu a {
    /*cannot have floating elements on the right side*/
    position: relative;
    clear: right;
    text-decoration: none; 
    color: black; 
    margin: 0 90px 0 0; 
    line-height: 80px; 
    font-size: 20px; 
    font-family: SFProDisplay; 
    /* background: white;  */
    /* border: gray solid;  */

}

/* Added by Christian */
#cowFigure {
    position: absolute;
    top: 20em;
    right: 10%;
    border: none;
    width: 25%;
}

/* Added by Christian */
h1 {
    position: absolute;
    font-family: 'GlacialIndifference';
    color: #c88ec8;
    font-size: 3vw;
    text-align: left;
    left: 2em;
    top: 13em;
    /* margin-left: 2em;
    top: 30# */
}

.flavor-header-container {
    display: flex;
    margin-left: 2em;
    margin-top: 15px;
    align-items: center;
}


.fruit1 {
    width: 97px;
    height: 97px;
}


.fruitText{
    font-family: 'GlacialIndifference';
    font-size: 35px;
    /* font-size: 2.5vw; */
    padding: 25px 0;
    border-bottom: 4px solid #E9C541;
    padding-bottom: 12px;
    /* margin-top: 130px; */
    margin-top: 2em;
    margin-left: 1em;
    /* margin-right: 800px; */
    margin-bottom: 90px;
}

/* Added by Christian */
h3 {
    font-family: 'Quincy';
    color: #B1C88E;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

/* Added by Christian */
#menuSentence{
    font-family: SFProDisplay;
    position: absolute;
    font-size: 1.5vw;
    text-align: left;
    left: 10%;
    top: 35em;
}

/* Added by Christian */
.listFlavors {
    font-family: SFProDisplay;
    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 75px;
    text-indent: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    justify-content: center;
}


.box1 {
    display: flex;
    row-gap: 66px;
    gap: 66px 66px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2 {
    display: flex;
    row-gap: 66px;
    margin-top: 66px;
    gap: 66px 66px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ADDED BY CHRISTIAN 
#chocoFlavor {
    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 65px;
    text-align: center;
    margin-top: -105px;
    margin-left: 440px;
    box-shadow: 5px 5px 25px #888888;
}


#cookiesFlavor {
    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 65px;
    text-align: center;
    margin-top: -105px;
    margin-left: 591px;
    box-shadow: 5px 5px 25px #888888;
}

#hawaiianFlavor {
    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 65px;
    text-align: center;
    margin-top: 66px;
    margin-left: 288px;
    box-shadow: 5px 5px 25px #888888;
}


#matchaFlavor {
    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 65px;
    text-align: center;
    margin-top: -105px;
    margin-left: 894px;
    box-shadow: 5px 5px 25px #888888;
}

#strawberryFlavor {
    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 65px;
    text-align: center;
    margin-top: -105px;
    margin-left: 1050px;
    box-shadow: 5px 5px 25px #888888;
}

#tartFlavor {
    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 65px;
    text-align: center;
    margin-top: -105px;
    margin-left: 745px;
    box-shadow: 5px 5px 25px #888888;
}

#thaiTeaFlavor {
    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 65px;
    text-align: center;
    margin-top: 63px;
    margin-left: 135px;
    box-shadow: 5px 5px 25px #888888;
}*/

#hamburgerIcon {
    font-size: 40px; 
    /* line-height: 80px;  */
    display: none; 
    margin-right: 50px;
    color: #E9C441; 
    /* width: 40px;  */
    float: right; 
    position: relative; 
    /* border: red solid; */
    top: 50%;
    transform: translateY(-50%);  
}

#toggle {
    display: none; 
}

#underline {
    border-bottom: solid #E9C441 3px;
}


#underlineFlavors {
    border-bottom: solid #E9C441 3px;
}

.navbar > img{
    width: 200px; 
    height: 62px;
    float: left;
    position: absolute;                
    top: 50%; 
    left: 30px;
    transform: translate(0, -50%); 
    z-index: 3; 
}

@media screen and (max-width: 900px) {
    .navbar {
        background-color: white;
    }

    #hamburgerIcon {
        display: block;
        cursor: pointer; 
        z-index: 10;
    }

    .menu {
        text-align: left;
        width: 100%; 
        display: none; 
        box-shadow: 0px 12px 35px 0px #00000033; 
        /* border: lightseagreen solid;  */

        /*change*/
        margin-top: 80px; 
    }

    .menu a {
        display: block; 
        padding-left: 60px;
        line-height: normal; 
    } 

    #toggle:checked + .menu{
        display: block; 
    }

    #homeLink {
        padding-top: 80px; 
    }

    #menuLink {
        padding-top: 45px; 
    }

    #eventsLink{
        padding-top: 45px; 
        padding-bottom: 80px; 
    }

    .flex-container {
        /* background: url('../static/images/new_swirls_dots.png'); */
        background: url('../static/images/Menu_Masthead_Mobile.png');
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
    }
    
    .items-container {
        flex-direction: column;
    }

    .box {
        display: flex;
        row-gap: 10px;
        gap: -56px;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .listFlavors2 {
        font-family: SFProDisplay;
        position: relative;
        border-radius: 25px;
        padding: 20px;
        width: 200px;
        height: 75px;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .space-around {
        justify-content: space-around;
    }


    .space-around li {
        display: inline-block;
    }
}



/* Starting Sam and Winnie Section */
/*--------Rotational Container--------*/
.rotate-container {
    /* top: 1000px; */
    display: flex;
    align-items: center;
    /* align-items: center; */
    flex-direction: column;

}

.rotate-header {
    margin-top: 5em;
    text-align: center;
    font-family: 'Quincy';
    font-size: 30px;
    color: #B1C88E; 
}


.rotational {
    margin-top: 30px;
    margin-bottom: 80px;
    text-align: center;
    font-family: 'SFProDisplay';
    font-size: 18x;
    /* font-size: 18x; */
    margin: 3em;
}


.instagramContainer {
    display: flex;
    align-items: center;
    background: #B1C88E;
    border-radius: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.instagramLogo {
    width: auto;
    height: auto;
    margin-left: 2em;
}

.instagram-text {
    color: white; 
    font-size: 30px;
    font-family: 'SFProDisplay';
    margin: 1em;
} 


/*--------Spoon Your Toppings--------*/
.spoon-container {
    display: flex;
    margin-left: 2em;
    margin-top: 200px;
    align-items: center;
}


.spoon {
    width: 97px;
    height: 97px;
}


.spoonTopping{
    font-family: 'GlacialIndifference';
    font-size: 35px;
    padding: 25px 0;
    border-bottom: 4px solid #E9C541;
    padding-bottom: 12px;
    /* margin-top: 130px; */
    margin-top: 2em;
    margin-left: 1em;
    /* margin-right: 800px; */
    margin-bottom: 90px;
}



.toppings-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px 3em;
}


.blob {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 90%;
}

.toppings-images{
    flex: 2 0;
    position: relative;
} 

.toppings-text{
    flex: 1;
    font-family: 'SFProDisplay';    
    text-align: center;   
    font-size: 18px; 
    line-height: 30px;
}

/*--------Weight and Pay--------*/
.weight-container {
    display: flex;
    margin-left: 2em;
    border-top: 100px;
    align-items: center;
}

.weight {
width: 97px;
height: 97px;
}

.weightPay{
    font-family: 'GlacialIndifference';
    font-size: 35px;
    padding: 25px 0;
    border-bottom: 4px solid #E9C541;
    padding-bottom: 12px;
    margin-bottom: 80px;
    margin-top: 2em;
    margin-left: 1em;
}

.call{
    font-family: 'SFProDisplay';       
    font-size: 18px;
    line-height: 156.3%;                                                                                                                           
    margin-bottom: 80px;
    text-align: center;
    margin: 3em;

}


@media screen and (max-width: 600px) {
    /* .rotational {
        display: None;
    } */
    .blob {
        height: 500px;
        width: 500px;
    }

    /* .menuHeading {
        background: url('../static/images/Menu_Masthead_Mobile.png');
    } */

    /* .rotational {
        font-size: 10px;
    } */
}

@media screen and (max-width: 550px) {
    /* .rotational {
        display: None;
    } */
    .blob {
        height: 450px;
        width: 450px;
    }
}

@media screen and (max-width: 500px) {
    /* .rotational {
        display: None;
    } */
    .blob {
        height: 400px;
        width: 400px;
    }
}

@media screen and (max-width: 450px) {
    /* .rotational {
        display: None;
    } */
    .blob {
        height: 350px;
        width: 350px;
    }
}

@media screen and (max-width: 400px) {
    /* .rotational {
        display: None;
    } */
    .blob {
        height: 300px;
        width: 300px;
    }
}
@media screen and (max-width: 350px) {
    /* .rotational {
        display: None;
    } */
    .blob {
        height: 250px;
        width: 250px;
    }
}

@media screen and (max-width: 300px) {
    /* .rotational {
        display: None;
    } */
    .blob {
        height: 200px;
        width: 200px;
    }
}

/* @media screen and (max-width: 400px) { */
    /* .rotational {
        display: None;
    } */
    /* .blob {
        height: 300px;
        width: 300px;
    } */

    /* .rotational {
        font-size: 10px;
    } */
/* } */

/*--------FOOTER-----------*/
footer {
    height: 150px;
    position: absolute; 
    width: 100%; 
    margin-top: 100px; 
    background: #FFAFBD; 

}

.gradient {
    height: 25px; 
    background: linear-gradient(180deg, #FFB3B9 0%, #FFC3A0 100%);
}

.footerContent {
    height: 125px; 
    position: relative;
    width: 100%;
}

.footerContent > img{
    width: 200px; 
    height: 62px;
    float: left;
    position: absolute;                
    top: 50%; 
    left: 30px;
    transform: translate(0, -50%);
}

.phoneNum {
    font-family: SFProDisplay; 
    font-size: 18px; 
    font-weight: 400px;  
    position: absolute;
    right: 300px; 
    height: 25px;
    top: 50%; 
    transform: translateY(-50%);
    margin-left: 45px;
}

.envelope > img{
    height: 30px;
    width: 40px;
    position: absolute;                
    top: 50%; 
    right: 215px;
    transform: translateY(-50%);
}

.yelp > svg {
    position: absolute;                
    top: 50%; 
    right: 130px;
    transform: translateY(-50%);
}

.instaApp > img{
    position: absolute;                
    top: 50%; 
    right: 45px;
    transform: translateY(-50%);
    height: 40px; 
    width: 40px; 
}

/* phone screen for footer*/
@media screen and (max-width: 900px) {
    .footerContent > img {
        display: none; 
    }
}